<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--Порт, который будет использоватся для отправки сообщений-->
    <add key="PortForSending" value="1234"/>
    <!--Порт, который будет использоватся для приема сообщений-->
    <add key="PortForReceiving" value="1234"/>
    <!--Адрес для груповой рассылки про присутствия в чате-->
    <add key="GroupAddress" value="224.0.0.1"/>
    <!--Период подачи сигнала пристуствия в чате-->
    <add key="OnlineMarkerPeriod" value="300"/>
    <!--Дле отключение переброски через маршрутизатор докладов о членстве поставтиь 1-->
    <add key="TTL" value="1"/>
  
  </appSettings>
  
</configuration>